<div id="<%= dom_id resource_ability %>">
  <p>
    <strong>Active permissions:</strong>
    <%= resource_ability.active_permissions %>
  </p>

  <p>
    <strong>Active restrictions:</strong>
    <%= resource_ability.active_restrictions %>
  </p>

</div>
