<% content_for :title, "Editing resource ability" %>

<h1>Editing resource ability</h1>

<%= render "form", resource_ability: @resource_ability %>

<br>

<div>
  <%= link_to "Show this resource ability", @resource_ability %> |
  <%= link_to "Back to resource abilities", resource_abilities_path %>
</div>
