<% content_for :title, "New resource ability" %>

<h1>New resource ability</h1>

<%= render "form", resource_ability: @resource_ability %>

<br>

<div>
  <%= link_to "Back to resource abilities", resource_abilities_path %>
</div>
